<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Tipo</th>
                <th>Legenda</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td>Consulta</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>Exame</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>Retorno</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>Cirurgia</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>Telemedicina</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>Encaixe</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>Em espera</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>Encaminhado</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>Atendido</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>Desmarcou</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>Horario Bloqueado</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>Faltou</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</body>
</html>